Port 2222
HostKey /keys/ssh_host_ed25519_key
PidFile /run/sshd.pid
AuthorizedKeysFile /access/%u
PubkeyAuthentication yes
AuthenticationMethods publickey
PasswordAuthentication no
KbdInteractiveAuthentication no
UsePAM no
PermitRootLogin no
AllowGroups moirai-access
ForceCommand /usr/local/bin/moirai-access
DisableForwarding yes
PermitTTY no
PermitUserRC no
PermitUserEnvironment no
X11Forwarding no
LoginGraceTime 20
MaxAuthTries 3
MaxStartups 10:30:30
ClientAliveInterval 30
ClientAliveCountMax 3
LogLevel VERBOSE
